<!DOCTYPE html>
<html>
	<head>
		<title>Social Me</title>
		{{ JFT }}
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
		<script type="text/javascript" src="/assets/js/main.js"></script>
      	<script type="text/javascript" src="/assets/js/routers/router.js"></script>
      	<script type="text/javascript" src="/assets/js/views/users.js"></script>
		<script type="text/javascript" src="/assets/js/models/user.js"></script>
		<script type="text/javascript" src="/assets/js/collections/users.js"></script>
	</head>
		<body>
			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
					<p style="color:red">{{message}}</p>
				{% endfor %}
			{% endwith %}
			{% block body %}{% endblock %}
			{% if g.current_user %}
			<form method="POST" action ="/logout">
				{{csrf_helper()}}
				<button type="submit">logout</button>
			</form>
			{% else %}
			<a href="/login">login</a>
			<br>
			<a href="/signup">sign up</a>
			<br>
			<a href="{{fb_oauth_link}}">Login with Facebook</a>
			{% endif %}
			<div id="app"> </div>
		</body>
</html>