<!DOCTYPE html>
<html>
	<head>
		<title>layout</title>
	</head>
		<body>
			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
					<p style="color:red">{{message}}</p>
				{% endfor %}
			{% endwith %}
			{% block body %}{% endblock %}
			{% if g.current_user %}
			<form method="POST" action ="/logout">
				{{csrf_helper()}}
				<button type="submit">logout</button>
			</form>
			{% else %}
			<a href="/login">login</a>
			<a href="/signup">sign up</a>
			<a href="{{fb_oauth_link}}">Login with Facebook</a>
			{% endif %}
		</body>
</html>