{% extends "layout.html" %}
{% block body %}
<h3>Pending Friend Requests</h3>
{% for request in pending_requests %}
	{{request.receiver.username}}
	<form method="POST" action="/requests/cancel">
		<input name="request_id" type="hidden" value="{{request.id}}" />
		{{csrf_helper()}}
		<p><button type="submit">CANCEL REQUEST</button></p>
	</form>
{% endform %}

<h3>Received Friend Requests</h3>
{% for request in sent_requests %}
	{{request.sender.username}}
	<form method="POST" action="/requests/accept">
		<input name="request_id" type="hidden" value="{{request.id}}" />
		{{csrf_helper}}
		<p><button type="submit">ACCEPT REQUEST</button></p>
	</form>
{% endfor %}
{% endblock %}